@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('github-markdown-css/github-markdown-dark.css');

/* @layer components {
    .contract-preview
} */

body {
  background-color: #000000;
}

.border-gradient,
.border-gradient-desktop {
  border: 1px solid transparent;
  @apply rounded-md [background:linear-gradient(white,white)_padding-box,linear-gradient(to_bottom,#e789ff_0%,#9299ff_100%)_border-box] dark:[background:linear-gradient(black,black)_padding-box,linear-gradient(to_bottom,#e789ff_0%,#9299ff_100%)_border-box];
  backdrop-filter: blur(10px);
}

.border-header-gradient {
  border: 1px solid transparent;
  @apply [background:linear-gradient(white,white)_padding-box,linear-gradient(to_bottom,#e789ff_0%,#9299ff_100%)_border-box] dark:[background:linear-gradient(black,black)_padding-box,linear-gradient(to_left,#4d4d4d_0%,#a2a2a2_50%,#2f2f2f_100%)_border-box];
  backdrop-filter: blur(10px);
}

.card-border-gradient {
  border: 1px solid transparent;
  @apply rounded-[32px] [background:linear-gradient(white,white)_padding-box,linear-gradient(to_bottom,#e789ff_0%,#9299ff_100%)_border-box] dark:[background:linear-gradient(black,black)_padding-box,linear-gradient(to_right,#ff30fa_0%,#00ffe5_50%,#ffffff_100%)_border-box];
  backdrop-filter: blur(10px);
}

.border-product-item-gradient {
  border: 1px solid transparent;
  @apply rounded-[32px] [background:linear-gradient(white,white)_padding-box,linear-gradient(to_bottom,#e789ff_0%,#9299ff_100%)_border-box] dark:[background:linear-gradient(black,black)_padding-box,linear-gradient(to_right,#4d4d4d,#a2a2a2,#2f2f2f)_border-box];
  backdrop-filter: blur(5px);
}

.border-product-item-active-gradient {
  border: 3px solid transparent;
  @apply rounded-[32px] [background:linear-gradient(white,white)_padding-box,linear-gradient(to_bottom,#e789ff_0%,#9299ff_100%)_border-box] dark:[background:linear-gradient(black,black)_padding-box,linear-gradient(to_right,#e789ff,#9299ff)_border-box];
  backdrop-filter: blur(5px);
}

.border-address-item-gradient {
  border: 1px solid transparent;
  @apply rounded-[16px] [background:linear-gradient(white,white)_padding-box,linear-gradient(to_bottom,#e789ff_0%,#9299ff_100%)_border-box] dark:[background:linear-gradient(black,black)_padding-box,linear-gradient(to_right,#4d4d4d,#a2a2a2,#2f2f2f)_border-box];
  backdrop-filter: blur(5px);
}

.border-address-item-active-gradient {
  border: 1px solid transparent;
  @apply rounded-[16px] [background:linear-gradient(white,white)_padding-box,linear-gradient(to_bottom,#e789ff_0%,#9299ff_100%)_border-box] dark:[background:linear-gradient(black,black)_padding-box,linear-gradient(to_right,#e789ff,#9299ff)_border-box];
  backdrop-filter: blur(5px);
}

.border-skate-day-item-active-gradient {
  border: 3px solid transparent;
  @apply [background:linear-gradient(white,white)_padding-box,linear-gradient(to_bottom,#e789ff_0%,#9299ff_100%)_border-box] dark:[background:linear-gradient(black,black)_padding-box,linear-gradient(to_right,#e789ff,#9299ff)_border-box];
  backdrop-filter: blur(5px);
}

.border-accelerate-modal-gradient {
  border: 1px solid transparent;
  @apply [background:linear-gradient(white,white)_padding-box,linear-gradient(to_bottom,#e789ff_0%,#9299ff_100%)_border-box] dark:[background:linear-gradient(#151515,#151515)_padding-box,linear-gradient(to_right,#e789ff,#9299ff)_border-box];
  backdrop-filter: blur(5px);
}

@media only screen and (max-width: 768px) {
  .border-gradient {
    @apply rounded-md [background:linear-gradient(white,white)_padding-box,linear-gradient(to_bottom,#e789ff_0%,#9299ff_100%)_border-box] dark:[background:linear-gradient(black,black)_padding-box,linear-gradient(to_bottom,#e789ff_0%,#9299ff_100%)_border-box];
    /* 
    background:
      linear-gradient(black, black) padding-box,
      linear-gradient(to bottom, #e789ff 0%, #9299ff 100%) border-box; */
  }
  .border-referral-gradient {
    border: 1px solid transparent;
    background:
      linear-gradient(#151515, #151515) padding-box,
      linear-gradient(to bottom, #e789ff 0%, #9299ff 100%) border-box;
    backdrop-filter: blur(10px);
  }
}

input {
  outline: none;
}

.productItem-checkbox {
  @apply h-[20px] w-[20px] shrink-0 cursor-pointer appearance-none bg-[url("/images/checkout/product_uncheck.svg")] bg-cover bg-no-repeat checked:bg-[url("/images/checkout/product_checked.svg")] md:h-[32px] md:w-[32px];
}

.term-checkbox {
  @apply h-[22px] w-[22px] shrink-0 cursor-pointer appearance-none bg-[url("/images/checkout/term_unchecked.svg")] bg-cover bg-no-repeat checked:bg-[url("/images/checkout/term_checked.svg")];
}

.accelerate-checkbox {
  @apply h-[22px] w-[22px] shrink-0 cursor-pointer appearance-none bg-[url("/images/checkout/accelerate_unchecked.svg")] bg-cover bg-no-repeat checked:bg-[url("/images/checkout/term_checked.svg")];
}

.clip-text {
  @apply bg-clip-text text-transparent;
}

.slick-dots .slick-active div {
  background-image: linear-gradient(180deg, #00ffe5 0%, #ff30f7 100%);
}

.transparent-scrollbar {
  scrollbar-color: #ccc #00000000;
}

.markdown-body {
  font-family: var(--font-chakra-petch), sans-serif;
  background-color: #323232;
  font-size: 16px;
}

.markdown-body pre {
  background-color: #323232;
}

.text-break-word {
  white-space: normal;
  word-break: break-word;
}
